
<label class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
  <input type="checkbox" class="form-check-input me-3" [checked]="todo.completed" (click)="onToggle($event)">
  <span class="lead fw-normal mb-0" *ngIf="!todo.completed">{{todo.name}}</span>
  <del class="lead fw-normal mb-0" *ngIf="todo.completed"><span >{{todo.name}}</span></del>
</label>
<span class="my-auto" (click)="onEdit()"><i style="font-size: 1.5rem;" class="bi bi-pen bi-pen-fill text-primary d-inline-block me-3"></i></span>
<span class="my-auto" (click)="onDelete()"><i style="font-size: 1.5rem;" class="bi bi-trash text-danger mr-1"></i></span>
