<!--<h1 class="my-4 text-center">My To-Do List</h1>-->
<div class="col">
    <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
        <div class="card-body py-4 px-4 px-md-5">
<p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
    <i class="fas fa-check-square me-1"></i>
    <u>My Todo-s</u>
</p>

<app-todo-create-form-ui (create)="onCreate($event)"></app-todo-create-form-ui>
<app-todo-list-ui [todoList]="todoList$ | async"
                  (delete)="onDelete($event)"
                  (toggle)="onToggle($event)"
                  (edit)="onEdit($event)"
></app-todo-list-ui>
        </div>
        </div>
        </div>
